.slide-background{
    background-color: #fdeae9;
}
.price{
    color:  #FF589B;
}
.buy-now-button{
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    background-color: #FF589B;
    border: none;
}