.custom-background-color{
    background-color: #fdeae9;
}
.price{
    color:  #FF589B;
}
.buy-now-button{
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    background-color: #FF589B;
    border: none;
}
.watch-color{
    background-color: #fba527;
}
.bag-color{
    background-color: orchid;
}
.shoe-color{
    background-color: #356cfd;
}
.categories img{
    width: 100px;
}